Country Name (2 letter code) [AU]: DE
State or Province Name (full name) [Some-State]: Baden-Württemberg
Locality Name (eg, city) []: Karlsruhe
Organization Name (eg, company) [Internet Widgits Pty Ltd]: DevLocal
Organizational Unit Name (eg, section) []: Development
Common Name (e.g. server FQDN or YOUR name) []: localhost
Email Address []: dev@devlocal.test
