asgi_correlation_id==4.3.4
fastapi==0.121.3
pwdlib==0.3.0
pydantic==2.12.4
pydantic_settings==2.12.0
pyotp==2.9.0
pytest==8.4.2
python-dotenv==1.2.1
redis==7.1.0
Requests==2.32.5
slowapi==0.1.9
structlog==25.5.0
uvicorn==0.38.0
